#!/usr/bin/make -f

export DESTDIR := $(CURDIR)/debian/tmp
export PYTHON := python3
export PYTHON_SITEPATH := /usr/lib/python3/dist-packages
export BACKEND_VMM := xen

%:
	dh $@ --with python3

override_dh_auto_build:
	$(MAKE) all PYTHON=$(PYTHON)

override_dh_auto_install:
	$(MAKE) install -C linux/aux-tools DESTDIR=$(DESTDIR)
	$(MAKE) install -C linux/system-config DESTDIR=$(DESTDIR)
	$(PYTHON) setup.py install -O1 --skip-build --root $(DESTDIR)
	$(MAKE) install -C relaxng DESTDIR=$(DESTDIR)
	mkdir -p $(DESTDIR)/etc/qubes
	cp -f etc/qmemman.conf $(DESTDIR)/etc/qubes/
	mkdir -p $(DESTDIR)/etc/qubes-rpc
	mkdir -p $(DESTDIR)/etc/qubes/policy.d/include
	install -m 0644 qubes-rpc-policy/90-default.policy \
		$(DESTDIR)/etc/qubes/policy.d/90-default.policy
	install -m 0644 qubes-rpc-policy/85-admin-backup-restore.policy \
		$(DESTDIR)/etc/qubes/policy.d/85-admin-backup-restore.policy
	install -m 0644 qubes-rpc-policy/admin-local-ro \
		qubes-rpc-policy/admin-local-rwx \
		qubes-rpc-policy/admin-global-ro \
		qubes-rpc-policy/admin-global-rwx \
		$(DESTDIR)/etc/qubes/policy.d/include/
	cp -f qubes-rpc/qubes.FeaturesRequest $(DESTDIR)/etc/qubes-rpc/
	cp -f qubes-rpc/qubes.GetDate $(DESTDIR)/etc/qubes-rpc/
	cp -f qubes-rpc/qubes.GetRandomizedTime $(DESTDIR)/etc/qubes-rpc/
	cp -f qubes-rpc/qubes.NotifyTools $(DESTDIR)/etc/qubes-rpc/
	cp -f qubes-rpc/qubes.NotifyUpdates $(DESTDIR)/etc/qubes-rpc/
	cp -f qubes-rpc/qubes.ConnectTCP $(DESTDIR)/etc/qubes-rpc/
	install -m 0755 qvm-tools/qubes-bug-report $(DESTDIR)/usr/bin/qubes-bug-report
	install -m 0755 qvm-tools/qubes-hcl-report $(DESTDIR)/usr/bin/qubes-hcl-report
	install -m 0755 qvm-tools/qvm-sync-clock $(DESTDIR)/usr/bin/qvm-sync-clock
	install -m 0755 qvm-tools/qvm-console-dispvm $(DESTDIR)/usr/bin/qvm-console-dispvm
	install -d $(DESTDIR)/etc/qubes
	printf 'runit\n' > $(DESTDIR)/etc/qubes/service-manager
	install -d $(DESTDIR)/etc/sv
	cp -a $(CURDIR)/../../porting/runit/dom0/qubesd $(DESTDIR)/etc/sv/
	cp -a $(CURDIR)/../../porting/runit/dom0/qubes-core $(DESTDIR)/etc/sv/
	cp -a $(CURDIR)/../../porting/runit/dom0/qubes-preload-dispvm $(DESTDIR)/etc/sv/
	cp -a $(CURDIR)/../../porting/runit/dom0/qubes-qrexec-policy-daemon $(DESTDIR)/etc/sv/
	cp -a $(CURDIR)/../../porting/runit/dom0/qubes-meminfo-writer-dom0 $(DESTDIR)/etc/sv/

override_dh_auto_clean:
	:
