[submodule "upstream/qubes-builderv2"]
	path = upstream/qubes-builderv2
	url = https://github.com/QubesOS/qubes-builderv2.git
[submodule "upstream/qubes-core-admin"]
	path = upstream/qubes-core-admin
	url = https://github.com/QubesOS/qubes-core-admin.git
[submodule "upstream/qubes-core-qrexec"]
	path = upstream/qubes-core-qrexec
	url = https://github.com/QubesOS/qubes-core-qrexec.git
[submodule "upstream/qubes-gui-daemon"]
	path = upstream/qubes-gui-daemon
	url = https://github.com/QubesOS/qubes-gui-daemon.git
[submodule "upstream/qubes-gui-agent-linux"]
	path = upstream/qubes-gui-agent-linux
	url = https://github.com/QubesOS/qubes-gui-agent-linux.git
[submodule "upstream/qubes-core-agent-linux"]
	path = upstream/qubes-core-agent-linux
	url = https://github.com/QubesOS/qubes-core-agent-linux.git
[submodule "upstream/qubes-linux-kernel"]
	path = upstream/qubes-linux-kernel
	url = https://github.com/QubesOS/qubes-linux-kernel.git
[submodule "upstream/qubes-linux-utils"]
	path = upstream/qubes-linux-utils
	url = https://github.com/QubesOS/qubes-linux-utils.git
[submodule "upstream/qubes-vmm-xen"]
	path = upstream/qubes-vmm-xen
	url = https://github.com/QubesOS/qubes-vmm-xen.git
[submodule "upstream/qubes-linux-template-builder"]
	path = upstream/qubes-linux-template-builder
	url = https://github.com/QubesOS/qubes-linux-template-builder.git
[submodule "upstream/qubes-installer-qubes-os"]
	path = upstream/qubes-installer-qubes-os
	url = https://github.com/QubesOS/qubes-installer-qubes-os.git
[submodule "upstream/qubes-manager"]
	path = upstream/qubes-manager
	url = https://github.com/QubesOS/qubes-manager.git
[submodule "upstream/qubes-qubes-release"]
	path = upstream/qubes-qubes-release
	url = https://github.com/QubesOS/qubes-qubes-release.git
[submodule "upstream/qubes-doc"]
	path = upstream/qubes-doc
	url = https://github.com/QubesOS/qubes-doc.git
