#!/usr/bin/make -f

export DESTDIR := $(CURDIR)/debian/tmp

%:
	dh $@

override_dh_auto_build:
	:

override_dh_auto_install:
	install -d $(DESTDIR)/etc/apt/sources.list.d
	install -d $(DESTDIR)/usr/share/qubes
	install -m 0644 comps/comps-dom0.xml $(DESTDIR)/usr/share/qubes/qubes-comps.xml
	printf 'Qubes Devuan dom0\n' > $(DESTDIR)/etc/qubes-release
	cat > $(DESTDIR)/etc/os-release <<'OSRELEASE'
NAME="Qubes Devuan Dom0"
ID=qubes-devuan-dom0
PRETTY_NAME="Qubes Devuan Dom0"
VERSION_ID="0"
OSRELEASE
	cat > $(DESTDIR)/etc/apt/sources.list.d/qubes-dom0.list <<'APTCONF'
# Placeholder repository definition for the Devuan dom0 port.
# This will be replaced by a signed project repository once the packaging
# pipeline exists.
APTCONF
